footer.container
  hr
  div.pull-left
    a(href="/LICENSE") License
  div.pull-right Made with 
    a(href="https://jekyllrb.com/" target="_blank") Jekyll
    |, hosted by 
    a(href="https://github.com/" target="_blank") GitHub
