nav.navbar.navbar-custom.navbar-fixed-top(role="navigation")
  .container
    .navbar-header.page-scroll
      button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-main-collapse")
        i.fa.fa-bars
      a.navbar-brand(href="/") GISLab Blog

    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      ul.nav.navbar-nav
        li.hidden
          a(href="#page-top")
        li.page-scroll
          a(href="#services") GISLab
